
#about-page {
    background-color: #181818;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
}

#back-drop {
    background-image: url(Icons/onusbs-background2.png);
    background-repeat: no-repeat; 
    background-size: 100%;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -5;
}

#about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}


.name-stake {
    font-size: 40px;
    width: 100%;
}

#intro {
    height: auto;
    width: 100%;
    display: flex;
    margin-bottom: 5%;

}

#about-me {
    width: 90%;
    transform: translate(5%,0%);
    font-size: 35px;
    color: rgb(203, 250, 208);
    letter-spacing: 1px;
}

#profile-pic {
    height: 200px;
    width: 210px;
    border-radius: 50%;
}



@media (max-width: 1000px) {
    #back-drop {
        background-repeat: repeat-y;
    }

    #about-page {
        max-height: 640px;
    }

    #intro {
        height: 640px;
        width: 80%;
        flex-direction: column;
        
    
    }
}
