
#about-page {
    background-color: #181818;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    
}

#back-drop {
    background-image: url(Icons/onusbs-background2.png);
    background-repeat: no-repeat; /* add repeat-y media query*/
    background-size: 100%;
    position: fixed;
    height: 100%;
    width: 95%;
    z-index: -5;
}

#name-stake {
    font-size: 40px;
    height: 50px;
    width: 85%;
    transform: translate(15%, 0%);
}

#intro {
    height: 200px;
    width: 85%;
    display: flex;
    transform: translate(15%, 30%);

}

#about-me {
    font-size: 35px;
    color: rgb(203, 250, 208);
    letter-spacing: 1px;
}

#profile-pic {
    height: 80%;
    width: 45%;
    border-radius: 50%;
}


#contact-page {
    background-color: #181818;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    max-height: 640px;
}


#back-drop {
    background-image: url(Icons/onusbs-background2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    height: 100%;
    width: 95%;
    z-index: -5;
    transform: translate(5%, 5%);
    
}

#name-stake {
    font-size: 40px;
    height: 150px;
    width: 85%;
    transform: translate(15%, 0%);
}

#contact-area {
    width: 85%;
    height: 300px;
    display: grid;
    transform: translate(18%, 0%);
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 90% 10%;
    grid-gap: 5%;
    grid-template-areas:
        "linkin ghub email"
        "linfo  ginfo einfo";
}

.contact-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    filter: opacity(0.85);
}

.contact-icon {
    height: 60%;
    width: 60%;
    transform: translate(35%, 0%);
    border-radius: 50%;
}

.contact-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 80%;
}

.contact-link {
    color: #0f7;
}

#link-in{grid-area: linkin;}
#ghub{grid-area: ghub;}
#email{grid-area: email;}
#link-in-cap{grid-area: linfo;}
#ghub-cap{grid-area: ginfo;}
#email-cap{grid-area: einfo;}


#contact-area2 {
    width: 85%;
    height: 300px;
    display: grid;
    transform: translate(18%, 0%);
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 90% 10%;
    grid-gap: 5%;
    grid-template-areas:
        "insta solo youtoo"
        "iinfo  sinfo yinfo";
}

#instagram{grid-area: insta;}
#sololearn{grid-area: solo;}
#youtube{grid-area: youtoo;}
#instagram-cap{grid-area: iinfo;}
#sololearn-cap{grid-area: sinfo;}
#youtube-cap{grid-area: yinfo;}


@media (max-width: 1000px) {
    #back-drop {
        background-repeat: repeat-y;
    }

    #about-page {
        max-height: 640px;
    }

    #intro {
        height: 640px;
        width: 80%;
        flex-direction: column;
        
    
    }
    #email-cap {
        transform: translate(-5%, 0%);
    }

    #ghub-cap {
        transform: translate(-20%, -60%);
    }
}
