
#about-page {
    background-color: #181818;
    color: rgb(203, 250, 208);
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
}

a {
    color: rgb(203, 250, 208);
    
}

#back-drop {
    position: fixed;
    top: 0%;
    left: 0%;
    background-size: 100%;    
    height: 100%;
    width: 100%;
    background-image: url(Icons/onusbs-background2.png);
    background-repeat: no-repeat;
    z-index: -5;
}

#about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}


.name-stake {
    font-size: 40px;
    width: 100%;
}

#intro {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    

}

#about-me {
    width: 100%;
    
    font-size: 35px;
    
    letter-spacing: 1px;
}

#download {
    font-size: 35px;
    
}

#profile-pic {
    height: 200px;
    width: 210px;
    border-radius: 50%;
}

.pic-area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#download-resume-btn {
    background-color: #295;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    transition: color 2.3s ease;
    margin-bottom: 50px;
}

#download-resume-btn:hover {
    background-color: #163;
    color: #FFF;
}

#resume-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 20px;
}

.resume-item {
    width: 100%;
    margin: 20px;
    text-align: center;
    
}

#contact-section {
    width: 100%;
    text-align: center;
}
#contact-info {
    font-size: 35px;
    font-weight: bolder;
    
}

.contact-icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contact-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100px;
    margin-right: 35px;
    margin-left: 35px;
    font-size: larger;
    border-radius: 50%;
}


@media (max-width: 1000px) {
    #back-drop {
        background-repeat: repeat-y;
    }

    #about-page {
        max-height: 640px;
    }

    .contact-icon {
        margin: 35px;
    }


}
