#projects-page {
    background-color: #181818;
    color: rgb(203, 250, 208);
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: rgb(203, 250, 208);
    
}


#back-drop {
    background-image: url(Icons/onusbs-background2.png);
    background-repeat: no-repeat; /* add repeat-y media query*/
    background-size: 100%;
    position: fixed;
    height: 100%;
    width: 95%;
    z-index: -5;
    transform: translate(0%, 5%);
    
}

#name-stake {
    font-size: 40px;
    height: 80px;
    width: 85%;
    transform: translate(10%, 0%);
}


#project-show-case {
    height: 430px;
    width: 85%;
    transform: translate(10%, 0%);
    filter: opacity(.85);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

}

#project-show-case a {
    text-decoration: none;
    color: rgb(203, 250, 208);
}

.project-tile {
    height: 35%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #042;
    font-size: 25px;
    border-radius: 9%;
    transition: transform 1s;
    margin: 10px;
    
    
    
}

.project-tile:hover {
    transform: scale(1.1);
    font-size: 30px;
    background-color: #075;
}

.project-image {
    width: 80%;
    height: 30%;
}


@media (max-width: 1000px) {
    .project-tile {
        font-size: 20px;
    }
    .project-tile:hover {
        font-size: 12px;
    }
    #back-drop {
        background-repeat: repeat-y;
    }
}
