#back-drop {
    background-image: url(../Icons/python2.jpeg);
    background-repeat:repeat; /* add repeat-y media query*/
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -5;
    
}

#project-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
}

.gallery-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 250px;
    background-color: #0DD;
    margin: 20px;
    border-radius: 8%;
    transition: transform 1s;
}

.gallery-project:hover {
    transform: scale(1.1);
}

#back {
    width: 100vw;
    height: 10vh;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}