#back-drop {
    background-image: url(../Icons/python4.png);
    background-repeat: no-repeat; /* add repeat-y media query*/
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -5;
    
}